body {
  background-image: url(img/background.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.logo img {
  width: 70px;
  height: 70px;
  background-color: transparent;
  margin-left: 20px;
}
.navbar {
  display: flex;
  color: white;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  margin: 10px;
}

.nav-menu div {
  margin: 10px;
}

.bar img {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  /* padding-top: 10px; */
}

.content {
  display: flex;
  /* grid-template-columns: auto auto auto auto; */
  /* border: 1px solid white; */
}

.content-text {
  margin-left: 30px;
  padding-top: 5%;
  /* padding-right: 20px; */
  /* text-align: center; */
  /* align-items: center; */
  color: white;
}

#sahara {
  font-size: 4.5rem;
  /* margin-bottom: -2px; */
}

#lorem {
  margin-top: -25px;
}

.explore {
  width: 150px;
  padding: 10px;
  height: auto;
  background-color: white;
  color: black;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
}

.explore a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  /* position: relative; */
}

/* @media screen and (max-width: 700px) {
  .card {
    display: flex;
    flex-direction: column;
  }
} */

.card-1 {
  background-image: url(img/flex-1.jpg);
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  top: 0px;
  transition: top ease-in 0.3s;
  box-shadow: 0px 0px 7px 3px gainsboro;
}

.card-1:hover {
  top: -10px;
}

.card-2 {
  background-image: url(img/flex-2.jpg);
  height: 200px;
  width: 200px;
  background-size: cover;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  top: 0px;
  transition: top ease 0.5s;
  box-shadow: 0px 0px 7px 3px gainsboro;
}

.card-2:hover {
  top: -10px;
}

.card-3 {
  background-image: url(img/flex-3.jpg);
  height: 200px;
  width: 200px;
  background-size: cover;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  top: 0px;
  transition: top ease 0.5s;
  box-shadow: 0px 0px 7px 3px gainsboro;
}

.card-3:hover {
  top: -10px;
}
/* .card::after {
  animation: box-down 0.2s;
} */

.card-4 {
  background-image: url(img/flex-4.jpg);
  height: 200px;
  width: 200px;
  background-size: cover;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  bottom: 0px;
  transition: bottom ease 0.5s;
  box-shadow: 0px 0px 7px 3px gainsboro;
}

.card-4:hover {
  bottom: 10px;
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  .card {
    justify-content: center;
    align-items: center;
  }
  .card-1 {
    width: 60%;
    /* height: 200%; */
  }
  .card-2 {
    width: 60%;
  }
  .card-3 {
    width: 60%;
  }
  .card-4 {
    width: 60%;
  }
}
